{{>head}}
<body>
  <div class="container">
    <p>An unknown error occurred while playwright service</p>
    <p>please check the logs and tell the reason to buisness side.</p>
    <br>

    <p>applicant email: {{ email }}</p>
  </div>
</body>