<br>
<p class="text-sm">*本メールは送信専用のメールアドレスで送信しております。</p>
<p class="text-sm">本メールに返信いただいてもご回答しかねますので、あらかじめご了承ください。</p>
<br>
<p class="gray-border"></p>
<p><a href="https://job.gtn.co.jp/">外国人人材バンク</a> | 外国人専門のお仕事探しサイト</p>
<p>お問い合せ先【人材部】：03-6804-6801 / jobs@gtn.co.jp</p>
<p>営業時間：10:00～18:30 （年末年始お休み）</p>
<p>株式会社グローバルトラストネットワークス</p>
<p>Global Trust Networks Co.,Ltd.</p>
<p><a href="https://www.gtn.co.jp">https://www.gtn.co.jp</a></p>
<p class="gray-border" style="padding-bottom: 10px"></p>